extends /sidebar

block title
  | Register of Members Settings

block content
  h2 Register of Members Settings

  form.form-horizontal(method="POST")
    //TODO: List all roles and show checklist for which should be tagged in api output

    .control-group
      label.control-label api secret
      .controls
        input(type='text', name='apiSecret', value=data.apiSecret)

    .control-group
      .controls
        button.btn-success(type="Submit") Save
